 html { 
    background: url("htmlBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Bree Serif', serif;
  }
h1 {
  font-size: 50px;
  color:#BB8FCE;
  margin-bottom: 0;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  color:#BB8FCE;
  margin-top: 0;
}

p {
  color:#BB8FCE;
}

.me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color:#BB8FCE;
}

#wrapper {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 40px;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  
}

.grey {
  height: 3px;
  background-color:#BB8FCE;
  border: none;
  width: 70px;
}

